:root {
  font-size: 16px;
}

.login-container {
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid grey;
  padding: 2rem;
}

form {
  display: block;
}

form p {
  font-size: 1.8rem;
  text-align: center;
}

form p.error {
  color: red;
}

input[type='text'],
button {
  font-size: 1rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0.25rem 0;
  padding: 1rem;
  display: block;
  border: 1px solid grey;
  background-color: white;
}

button:disabled {
  color: grey;
}
